
<body>
    <header class="header-container">
        <div class="logo-content">
            <img src="../../../assets/logo.png">
            <div>
                <span class="header-text">ADDRESS</span> <br>
                <span class="headet-text-book">BOOK</span>
            </div>
        </div>
    </header>
    <hr>
    <div>
        <form action="" class="form-content"  [formGroup]="personForm">
            <div class="details">
                <h1 class="header-content">PERSON ADDRESS FORM
                   
                </h1>
                <div class="row-content">
                    <label for="name" class="label text">FirstName:</label>
                    <br><br>
                    <input type="text" class="input" id="firstname" name="fname" placeholder="firstname.."  autocomplete="off" required formControlName="fname">
                </div>
                <br>
                <div class="row-content">
                    <label for="name" class="label text">LastName:</label>
                    <br><br>
                    <input type="text" class="input" id="lastname" name="lname" placeholder="lastname.."  autocomplete="off" required  formControlName="lname">
                </div><br>
                <div class='profile-radio-button'>
                    <label for="name" class="profile-text">Profile image:</label>
                    <label class='profile'>
                        <input type="radio" id='profile1' name='profilePic' value="1" autocomplete="off" required formControlName="profilePic" />
                        <img class='pic' id='image1' src='../../../assets/Ellipse -1.png' />
                    </label>
                    <label class='profile'>
                        <input type="radio" id='profile2' name='profilePic' value='2' formControlName="profilePic" />
                        <img class='pic' id='image2' src='../assets/Ellipse -2.png' />
                    </label>
                    <label class='profile'>
                        <input type="radio" id='profile3' name='profilePic'  value='3' formControlName="profilePic" />
                        <img class='pic' id='image3' src='../assets/Ellipse -1.png' />
                    </label>
                    <label class='profile'>
                        <input type="radio" id='profile4' name='profilePic'  value='4' formControlName="profilePic"/>
                        <img class='pic' id='image4' src='../assets/Ellipse -1.png' />
                    </label>
                </div><br>
                <div class="row-content">
                    <label class="label text" htmlFor="gender">Gender:</label>
                    <input class="radio-button" type="radio" id="male" name="gender"  value="male" formControlName="gender" />
                    <label class="text" htmlFor="male">Male</label>
                    <input class="radio-butt" type="radio" id="female" name="gender"  value="female" formControlName="gender"/>
                    <label class="text" htmlFor="female">Female</label>
                </div><br>
                <div class="row-content">
                    <label for="phoneNum" class="label text">Phone Number:</label>
                    <br><br>
                    <input type="tel" class="input" id="phoneNum" name="phoneNum"  placeholder=" phone number.." autocomplete="off" required formControlName="phoneNumber">
                </div>
                <br>
                <div class="row-content">
                    <label for="name" class="label text">Email:</label>
                    <br><br>
                    <input type="text" class="input" id="email" name="email"  placeholder="email.." autocomplete="off" required formControlName="emailAddress">
                </div><br>
                <div class="row-content">
                    <label for="address" class="label text">Address:</label>
                    <br><br>
                    <input type="text" class="input" id="address" name="address"  placeholder=" address.." autocomplete="off" required formControlName="address">
                </div>
                <br>
                <div class="row-content">
                    <div class="column-con">
                        <div class="column-content">
                            <label for="city" class="label-text">City:</label>
                            <br><br>
                            <input type="text" class="input1" id="city" name="city"  placeholder="city.." autocomplete="off" required formControlName="city">

                        </div>
                        <div class="column-content">
                            <label for="state" class="label text">State:</label>
                            <br><br>
                            <input type="text" class="input1" id="state" name="state"  placeholder="state.." autocomplete="off" required formControlName="state">
                        </div>
                        <div class="column-content">
                            <label for="country" class="label text">Country:</label>
                            <br><br>
                            <input type="text" class="input1" id="country" name="country"  placeholder="country.." autocomplete="off" required formControlName="country">
                        </div>
                    </div>
                </div><br>
                <div>
                    <button  *ngIf="showUpdate != true"  type="submit"  class="submit-button"  (click)="addPersonData()" routerLink="/dashboard">Submit</button>
                    <button *ngIf="showUpdate == true" class="button updateButton" (click)=" updateData()"  routerLink="/dashboard"  >Update</button>
                </div>
                <form>

                    <body>